apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'bigtablelite'
        static_configs:
          - targets: ['bigtablelite-service:9090']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bigtablelite
spec:
  selector:
    matchLabels:
      app: bigtablelite
  template:
    metadata:
      labels:
        app: bigtablelite
    spec:
      containers:
      - name: bigtablelite
        image: bigtablelite:latest
        imagePullPolicy: Never
        ports:
          - containerPort: 50051
          - containerPort: 9090

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: prometheus
  selector:
    app: prometheus

