name: Go CI

on:
  push:
    branches: 
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      
      - name: Install system compiler
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build C++ SSTable static library
        run: make -C sstable

      # - name: Start Redis
      #   run: |
      #     docker run -d -p 6379:6379 --name redis redis:7

      - name: Tidy modules
        run: go mod tidy

      - name: Run tests
        run: go test -v ./...

      - name: Run benchmarks
        run: go test -bench=. -benchtime=3s -run=^$ ./...
