name: Go CI

on:
  push:
    branches: 
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      
      # Install GCC for building C++ code
      - name: Install system compiler
        run: sudo apt-get update && sudo apt-get install -y build-essential

      # Build the C++ library before running the Go tests
      - name: Build C++ SSTable static library
        run: make -C sstable

      - name: Tidy modules
        run: go mod tidy

      - name: Run tests
        run: go test -v ./...
